.recipe-card {
  align-items: center;
  border: 2px solid rgba(214, 217, 218, 1);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 16px 8px;
}

.categories-filters {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.recipe-image {
  border-radius: 16px;
  width: 150px;
}

.image-and-name {
  height: 150px;
  min-height: 150px;
  position: relative;
  width: 150px;
}

.mask-recipe {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 39.58%, rgba(0, 0, 0, 0.7));
  border-radius: 16px;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  z-index: 1;
}

.recipe-name {
  bottom: 8px;
  color: white;
  font-size: 24px;
  left: 0;
  padding: 0 16px;
  position: absolute;
  text-decoration: none;
  z-index: 2;
}

.recipe-information {
  display: flex;
  flex-direction: column;
}

.share-button {
  background-color: transparent;
  border: none;
}

.share-button img {
  width: 24px;
}

.date-and-share-button {
  display: flex;
  gap: 8px;
}

